# 12 MHz clock
set_io clk        35

# RS232
set_io ser_rx      6
set_io ser_tx      9

# SPI Flash
set_io flash_clk  15
set_io flash_csb  16
set_io flash_io0  14
set_io flash_io1  17
set_io flash_io2  12
set_io flash_io3  13

# LEDs (PMOD 2)
set_io led1       27
set_io led2       25
set_io led3       21
set_io led4       23
set_io led5       26

# Onboard LEDs
set_io ledr_n     11
set_io ledg_n     37

# PMOD 1A
set_io i2s_sck    4     # P1A1
set_io i2s_ws     2     # P1A2
set_io i2s_d0     47    # P1A3
set_io i2s_d1     45    # P1A4
set_io i2s_d2     3     # P1A7
set_io i2s_d3     48    # P1A8
#set_io i2s_dx     46    # P1A9

# PMOD 1B
set_io out_sck    43    # P1B1
set_io out_ws     38    # P1B2
set_io out_sd     34    # P1B3
set_io test0      31    # P1B4

set_io -nowarn P1A10      44 # P1A10

